n8n/Code-a-Cuisine.json
{
  "name": "Code a Cuisine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0236c66a-d4c3-4216-9e1c-79a8437f952a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1888,
        352
      ],
      "id": "0ecbe2f3-9fa0-4091-8616-e498f65ce297",
      "name": "Webhook",
      "webhookId": "0236c66a-d4c3-4216-9e1c-79a8437f952a"
    },
    {
      "parameters": {
        "jsCode": "const ip = \n  $input.first().json.headers['cf-connecting-ip'] ||\n  $input.first().json.headers['x-real-ip'] || \n  '111.111.111.26';\n\nreturn [{ json: { \n  ...$input.first().json,\n  ip_address: ip\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1712,
        352
      ],
      "id": "45a38d87-11c2-40e6-b325-3816b7f45196",
      "name": "filter ip adress"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "User Request",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "Ip Adress",
              "condition": "eq",
              "keyValue": "={{ $('filter ip adress').item.json.ip_address }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1552,
        352
      ],
      "id": "e2216c9b-ebea-439d-92e4-22bcd1f3b230",
      "name": "Fetch User Data per IP",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d07b9c9-59ce-4cab-813b-7ce82ba6f54c",
              "leftValue": "={{ $json['Ip Adress'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1392,
        352
      ],
      "id": "fe56c8f4-ead0-42a0-a807-0c9892ddcfc5",
      "name": "Check is possible",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "tableId": "User Request",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Ip Adress",
              "fieldValue": "={{ $('filter ip adress').item.json.ip_address }}"
            },
            {
              "fieldId": "last request",
              "fieldValue": "2000-01-01"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1248,
        464
      ],
      "id": "fa1114d0-9bcd-47ac-bd08-2a884dad2dfd",
      "name": "else = create new row",
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst requestCount = row.count;\nconst lastRequest = $input.first().json['last request']\n\n// Mitternacht heute\nconst midnight = new Date();\nmidnight.setHours(0, 0, 0, 0);\n\n\nconst limitReached = requestCount >= 3;\n\n// can_request = false wenn limit erreicht UND kein neuer Tag\nconst can_request = limitReached ? false : true;\n\nreturn [{ json: {\n  ...row,\n  limit_reached: limitReached,\n  can_request: can_request\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        336
      ],
      "id": "f365afd7-2826-4dd4-aab3-115b58bce049",
      "name": "if = give qoutes form user and vilidate",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=1. You are a professional chef assistant. \n2. You ALWAYS respond with ONLY valid JSON. No text before or after. No markdown. 3. No explanation.\n4. You ALWAYS generate EXACTLY 3 recipe suggestions.\n5. The JSON structure must ALWAYS match the exact format given - no exceptions.\n6. The recipe MUST use AT LEAST 70% of the provided available ingredients. \n   Not all ingredients need to be used, but at least 70% of the given ingredients \n   must appear in the recipe.\n   Example: If 10 ingredients are provided, at least 7 must be used in the recipe.\n   The remaining 30% can be ignored or replaced with missing ingredients.\n7. BEFORE generating recipes, validate if the ingredients are real food items.\n   If ANY ingredient is not a real food item (random words, nonsense, numbers):\n   - Set \"valid_ingredients\" to false\n   - Return ONLY this JSON: { \"valid_ingredients\": false }\n   If ALL ingredients are real food items:\n   - Set \"valid_ingredients\": true\n   - Return the full recipe array as normal with \"valid_ingredients\": true added to each recipe\n8. The \"confidence\" field MUST be EXACTLY the value from \"Diet preference\" input above. \n   Do NOT change, translate, or interpret it. Copy it exactly as provided.\n\nGenerate exactly 3 recipes based on these inputs:\n\nAvailable ingredients: {{ $('Webhook').item.json.body.ingredients.map(i => i.size + ' ' + i.unit + ' ' + i.value).join(', ') }}\nCooking time preference: {{ $('Webhook').item.json.body.selectedCookingTime }}\nCuisine preference: {{ $('Webhook').item.json.body.selectedCuisines }}\nDiet preference: {{ $('Webhook').first().json.body.selectedDietPreference }}\nPersons: {{ $('Webhook').item.json.body.person }}\nPortions: {{ $('Webhook').item.json.body.portions }}\n\nRules you MUST follow:\n1. \"time\" = = realistic cooking time in minutes based on the actual recipe AND must respect:\n   - selectedCookingTime \"Quick\" = maximum 20 minutes\n   - selectedCookingTime \"Medium\" = between 25 and 40 minutes\n   - selectedCookingTime \"Complex\" = minimum 45 minutes\n2. \"likes\" = random number between 50 and 500\n3. \"nutritional\" values must reflect the actual recipe ingredients realistically\n4. \"steps\" must have EXACTLY 4 steps maximum\n5. Assign steps to persons based on this logic:\n   - 1 person  → all 4 steps assigned to person 1\n   - 2 persons → person 1 gets steps 1+2, person 2 gets steps 3+4\n   - 3 persons → distribute randomly but ALL 4 steps must be assigned\n   - 4 persons → each person gets exactly 1 step\n   Current persons: {{ $('Webhook').item.json.body.person }}\n6. \"instructions\" for each step MUST be 2-4 sentences long. Describe what to do in detail — include techniques, temperatures, timing, and visual cues. Not too long, but informative and practical for a home cook.\n\nReturn ONLY this JSON array with exactly 3 recipes:\n[\n  {\n    \"title\": \"Recipe Name\",\n    \"info\": {\n      \"time\": 35,\n      \"selectedtime\": \"{{ $('Webhook').item.json.body.selectedCookingTime }}\",\n      \"cuisine\": \"{{ $('Webhook').item.json.body.selectedCuisines }}\",\n      \"confidence\": {{ $('Webhook').item.json.body.selectedDietPreference }},\n      \"person\": \"{{ $('Webhook').item.json.body.person }}\",\n      \"portion\": \"{{ $('Webhook').item.json.body.portions }}\",\n      \"likes\": 243\n    },\n    \"nutritional\": {\n      \"energie\": \"750 kcal\",\n      \"protein\": \"42 g\",\n      \"fat\": \"28 g\",\n      \"carbs\": \"65 g\"\n    },\n    \"ingredients\": {\n      \"available\": [\"150 g Chicken\"],\n      \"missing\": [\"1 piece Onion\"]\n    },\n    \"directions\": {\n      \"steps\": [\n        {\n          \"step\": 1,\n          \"title\": \"Prepare Ingredients\",\n          \"person\": 1,\n          \"instructions\": \"Detailed instructions here.\"\n        },\n        {\n          \"step\": 2,\n          \"title\": \"Cook Base\",\n          \"person\": 1,\n          \"instructions\": \"Detailed instructions here.\"\n        },\n        {\n          \"step\": 3,\n          \"title\": \"Combine & Season\",\n          \"person\": 2,\n          \"instructions\": \"Detailed instructions here.\"\n        },\n        {\n          \"step\": 4,\n          \"title\": \"Serve\",\n          \"person\": 2,\n          \"instructions\": \"Detailed instructions here.\"\n        }\n      ]\n    }\n  }\n]",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -736,
        688
      ],
      "id": "743284c6-d9e0-47e3-b282-f8b57cece7ee",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -768,
        896
      ],
      "id": "db825a0a-679d-4695-a66e-708dbb056ba9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mZoq8JZWvOvUklxW",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        688
      ],
      "id": "438103c8-d959-4c66-9379-63857116e264",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        544,
        704
      ],
      "id": "7b16be70-d44b-47e5-bd0a-49f5e9577cf5"
    },
    {
      "parameters": {
        "jsCode": "const webhook = $('Webhook').first().json.body;\n\nconst ingredients = webhook.ingredients\n  .map(i => `${i.size}${i.unit}${i.value.toLowerCase()}`)\n  .sort()\n  .join('|');\n\nconst key = `${ingredients}_${webhook.selectedCookingTime}_${webhook.selectedCuisines}_${webhook.selectedDietPreference}_${webhook.person}_${webhook.portions}`.toLowerCase();\n\nlet hash = 0;\nfor (let i = 0; i < key.length; i++) {\n  hash = ((hash << 5) - hash) + key.charCodeAt(i);\n  hash |= 0;\n}\n\nreturn [{ json: {\n  ...($input.first().json),\n  cookbook_id: Math.abs(hash).toString(16)\n}}];\n\nreturn [{ json: {\n  ...($input.first().json),\n  cookbook_id: Math.abs(hash).toString(16)\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        336
      ],
      "id": "23be006b-1857-4c53-8a3c-bdf593784596",
      "name": "Generate Cookbook Hash Id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Cookbook",
        "limit": 3,
        "filters": {
          "conditions": [
            {
              "keyName": "cookbook_id",
              "condition": "eq",
              "keyValue": "={{ $json.cookbook_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        352,
        416
      ],
      "id": "b0c57b69-d219-4309-9806-5dacd1077720",
      "name": "3 dishes with hash ID",
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Cookbook",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "selectedCuisines",
              "fieldValue": "={{ $json.selectedCuisines }}"
            },
            {
              "fieldId": "selectedDietPreference",
              "fieldValue": "={{ $json.selectedDietPreference }}"
            },
            {
              "fieldId": "recipe",
              "fieldValue": "={{ $json.recipe }}"
            },
            {
              "fieldId": "cookbook_id",
              "fieldValue": "={{ $json.cookbook_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        704
      ],
      "id": "f0a62fc4-8e53-4c90-8cf5-ce2045696855",
      "name": "Generate Recipe with Hash ID",
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Cookbook",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "cookbook_id",
              "condition": "eq",
              "keyValue": "={{ $json.cookbook_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        352
      ],
      "id": "073d7312-64f9-42f5-84fe-62074497fdf4",
      "name": "show cookbook_id (Hash ID) exists",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ed2a2b78-5aef-48c4-ab01-666a718a7aa6",
              "leftValue": "={{ $json.cookbook_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        416
      ],
      "id": "84caaf46-da22-4cb3-ab61-cebbdbc4a204",
      "name": "(Hash id) exist or not"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst cleaned = raw.replace(/```json|```/g, '').trim();\nconst recipes = JSON.parse(cleaned);\n\nif (recipes.length !== 3) {\n  throw new Error(`KI hat ${recipes.length} Rezepte generiert, erwartet waren 3.`);\n}\n\n// cookbook_id neu berechnen aus Webhook Daten\nconst webhook = $('Webhook').item.json.body;\nconst ingredients = webhook.ingredients\n  .map(i => `${i.size}${i.unit}${i.value.toLowerCase()}`)\n  .sort()\n  .join('|');\n\nconst key = `${ingredients}_${webhook.selectedCookingTime}_${webhook.selectedCuisines}_${webhook.selectedDietPreference}_${webhook.person}_${webhook.portions}`.toLowerCase();\n\nlet hash = 0;\nfor (let i = 0; i < key.length; i++) {\n  hash = ((hash << 5) - hash) + key.charCodeAt(i);\n  hash |= 0;\n}\nconst cookbook_id = Math.abs(hash).toString(16);\n\nreturn recipes.map(recipe => ({ \n  json: {\n    recipe: {\n      title: recipe.title,\n      info: recipe.info,\n      nutritional: recipe.nutritional,\n      ingredients: recipe.ingredients,\n      directions: recipe.directions\n    },\n    cookbook_id: cookbook_id,\n    selectedCuisines: recipe.info.cuisine,\n    selectedDietPreference: recipe.info.confidence\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        688
      ],
      "id": "78f933ab-aaf0-48ac-a1b0-c21e1e78b72b",
      "name": "3 individual ones"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "543d764c-edf7-40d1-8b4e-6be92dc2f844",
              "leftValue": "={{ $json.limit_reached.toBoolean() }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7e5cec86-288c-410a-b970-0bb1ef2d13fa",
              "leftValue": "={{ $json.can_request.toBoolean() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        352
      ],
      "id": "cd36db94-1f8a-431a-a136-a1a97813f82e",
      "name": "Daily more than 3?"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { \n  cookbook_id: $input.first().json.cookbook_id \n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        576
      ],
      "id": "bb8b72d9-77c0-4144-80b9-638e1bffed53",
      "name": "3item to 1 item"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d64cbd1b-5da4-4cb5-b321-7c8c5065f996",
              "leftValue": true,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        416
      ],
      "id": "658f70af-bc65-40b4-931d-3ef8e794fc9f",
      "name": "Request successful created",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "086bc9cf-03f4-4429-ba21-be0d56ffb607",
              "leftValue": "={{ $json['last request'].split('T')[0] }}",
              "rightValue": "={{ new Date().toISOString().split('T')[0] }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        336
      ],
      "id": "a42c3a09-4d48-4943-899d-8e75725b3811",
      "name": "Last Request last day?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "User Request",
        "filters": {
          "conditions": [
            {
              "keyName": "Ip Adress",
              "condition": "eq",
              "keyValue": "={{ $('filter ip adress').item.json.ip_address }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "count",
              "fieldValue": "={{ $json.count = 0 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -672,
        48
      ],
      "id": "46a074d1-62ef-43d9-86f5-b66d77ff4148",
      "name": "Set count to 0",
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "User Request",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "Ip Adress",
              "condition": "eq",
              "keyValue": "={{ $('filter ip adress').item.json.ip_address }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "count",
              "fieldValue": "={{ $('work with real count').item.json.count +1 }}"
            },
            {
              "fieldId": "last request",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1056,
        400
      ],
      "id": "06ee70d5-6997-42c2-9c0d-5549776a19a8",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "bIFwd8RDPfclBKoQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        400
      ],
      "id": "65664175-cb34-450e-964b-3ac3d6698f10",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"rate_limit\" }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -304,
        -16
      ],
      "id": "b1876948-3334-4372-bb53-d273be618d3f",
      "name": "Error Rate Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "24efdd73-83d5-4b64-a923-622bc9997ad1",
              "leftValue": "={{ $json.output }}",
              "rightValue": true,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        688
      ],
      "id": "0489cb59-1156-4f30-bf34-4479fabc7d65",
      "name": "if recipe generatet?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a234fa81-5aa5-4dd5-b8c5-89d343c051cf",
              "leftValue": "={{ $json.output.toBoolean() }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        912
      ],
      "id": "5ca3fd85-f1ea-4260-b04e-66e76ffd1634",
      "name": "why not generated?"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"error\": \"wrong_ingredients\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        912
      ],
      "id": "dc66a52c-c6de-4ff9-b59b-3d6766df957d",
      "name": "Wrong Ingredients"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"unknown\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        1008
      ],
      "id": "6fe19c06-6250-4e04-8870-c6a4dd0c83d7",
      "name": "Unknow Error"
    },
    {
      "parameters": {
        "jsCode": "let count;\n\ntry {\n  count = $('Set count to 0').first().json.count;\n} catch(e) {\n  count = $input.first().json.count;\n}\n\nreturn [{ json: {\n  ...$input.first().json,\n  count: count\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        336
      ],
      "id": "84d91034-f8df-4674-8fa2-cb1d53807910",
      "name": "work with real count"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "filter ip adress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filter ip adress": {
      "main": [
        [
          {
            "node": "Fetch User Data per IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Data per IP": {
      "main": [
        [
          {
            "node": "Check is possible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check is possible": {
      "main": [
        [
          {
            "node": "if = give qoutes form user and vilidate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "else = create new row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "else = create new row": {
      "main": [
        [
          {
            "node": "if = give qoutes form user and vilidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if = give qoutes form user and vilidate": {
      "main": [
        [
          {
            "node": "Last Request last day?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "if recipe generatet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "3item to 1 item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Recipe with Hash ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Cookbook Hash Id": {
      "main": [
        [
          {
            "node": "show cookbook_id (Hash ID) exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 dishes with hash ID": {
      "main": [
        [
          {
            "node": "Request successful created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Recipe with Hash ID": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "show cookbook_id (Hash ID) exists": {
      "main": [
        [
          {
            "node": "(Hash id) exist or not",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "(Hash id) exist or not": {
      "main": [
        [
          {
            "node": "3 dishes with hash ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3 individual ones": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily more than 3?": {
      "main": [
        [
          {
            "node": "Error Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "work with real count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3item to 1 item": {
      "main": [
        [
          {
            "node": "3 dishes with hash ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request successful created": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last Request last day?": {
      "main": [
        [
          {
            "node": "Set count to 0",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Daily more than 3?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set count to 0": {
      "main": [
        [
          {
            "node": "work with real count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if recipe generatet?": {
      "main": [
        [
          {
            "node": "3 individual ones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "why not generated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "why not generated?": {
      "main": [
        [
          {
            "node": "Wrong Ingredients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unknow Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unknow Error": {
      "main": [
        []
      ]
    },
    "work with real count": {
      "main": [
        [
          {
            "node": "Generate Cookbook Hash Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df323279-cf05-4285-911d-75afd198668f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc7ea48c18f680555e89576ebba81676b22ef9442212c23c279fea16a61b32bd"
  },
  "id": "TlspvzfPiWJb0bcv",
  "tags": []
}